<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-oro" version="1.0.5">
    <name>Various utility functions</name>
    <description>
        Cordova/Ionic/Phonegap plugin for various utility functions
    </description>
    <license>MIT</license>
    <keywords>cordova, ionic, thread name</keywords>
    <repo>https://github.com/oren-oro/cordova_plugin_oro.git</repo>
    <author>Oren</author>

    <js-module src="www/oroUtils.js" name="OroUtils">
        <clobbers target="OroUtils"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OroUtils">
                <param name="android-package" value="com.orodragon.oroUtils.OroUtils"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/orodragon/oroUtils/OroUtils.java"
                     target-dir="src/com/orodragon/oroUtils"/>
    </platform>
</plugin>
